<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Talentos Escolares</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <script src="https://code.jquery.com/jquery-4.0.0.slim.js" integrity="sha256-M+GjhMBfXikM1izMplICCTscIj5hzPCp6uDzaypxtgg=" crossorigin="anonymous"></script>
    <script>
$(document).ready(function(){

$("#btnCambiar").click(function(){

$("#titulo").text("Texto cambiado");

});

});

    </script>
</head>

<body>


<nav class="menu">
    <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="html/arte.html">Arte</a></li>
        <li><a href="html/deporte.html">Deporte</a></li>
    </ul>
</nav>

<header>
    <h1>Portal de Talentos Escolares</h1>
</header>

<section>
    <p>
        Bienvenido a nuestro portal de talentos escolares, donde los estudiantes pueden
        mostrar sus habilidades en distintas áreas como arte, deporte y tecnología.
    </p>
    <br>
    <h1 id="titulo">Hola Mundo</h1>
    <button id="btnCambiar">Cambiar</button>
    
</section>

<section>
    <img src="img/ICONOS-Jornada-talento-768x872.png" alt="talentos escolares">
</section>

<section>
    <h2>Integrante/Autor</h2>
    <ul>
        <li>Héctor Briceño</li>
    </ul>
</section>

<!-- FOOTER -->
<footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="html/Contacto.html" class="btn-footer">Contáctanos</a>
</footer>



</body>
