<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../img/favicon.png" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="arte.html">Arte</a></li>
        <li><a href="deporte.html">Deporte</a></li>
    </ul>
</nav>

    <!-- Nombre -->
    <header>
        <h1>Guillermo Gómez</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 40 años</p>
        <p><strong>Talento:</strong> Escultura</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            Guillermo tiene una impresora 3D con la que usa para hacer figuritas de acción, además de 
            maquetas de estructuras.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="../img/GuillermoGomez.png" alt="Guillermo">
        <h3>[Guillermo Gómez]</h3>
    </section>

    <!-- Volver -->
    <nav>
        <a href="escultura.html">← Volver a lista de fichas</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="Contacto.html" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>