<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../img/favicon.png" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="arte.html">Arte</a></li>
        <li><a href="deporte.html">Deporte</a></li>
    </ul>
</nav>

    <!-- Nombre -->
    <header>
        <h1>Victoria Perez</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 19 años</p>
        <p><strong>Talento:</strong> Natación</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            Cuando era chica, Victoria le tenía miedo al agua. Sin embargo empezó perderle miedo mientras 
            crecía, y ahora se inscribió a un curso de natación para eliminar su miedo por completo.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="../img/VictoriaPerez.png" alt="Victoria">
        <h3>[Victoria Perez]</h3>
    </section>

    <!-- Volver -->
    <nav>
        <a href="natacion.html">← Volver a lista de fichas</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="Contacto.html" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>