{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <!-- Menú de navegación -->
    <nav class="menu">
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'arte' %}">Arte</a></li>
            <li><a href="{% url 'deporte' %}">Deporte</a></li>
        </ul>
    </nav>

    <!-- Nombre -->
    <header>
        <h1>Ana Torres</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 30 años</p>
        <p><strong>Talento:</strong> Dibujo</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            Ana tiende a dibujar como hobby. No tiene preferencia específica, solo le gusta dibujar.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="{% static 'img/AnaTorres.png' %}" alt="Ana Torres">
        <h3>[Ana Torres]</h3>
    </section>

    <!-- Volver -->
    <nav>
        <a href="{% url 'dibujo' %}">Volver a dibujo</a>
    </nav>

    <!-- Footer -->
    <footer class="footer">
        <p>¿Tienes alguna pregunta o sugerencia?</p>
        <a href="{% url 'Contacto' %}" class="btn-footer">Contáctanos</a>
    </footer>

</body>
</html>