{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="arte.html">Arte</a></li>
        <li><a href="deporte.html">Deporte</a></li>
    </ul>
</nav>

    <!-- Nombre -->
    <header>
        <h1>Cristobal Sancho</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 21 años</p>
        <p><strong>Talento:</strong> Natación</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            Cristobal sueña con ser buzo profecional, por lo que a los 19 áños se inscribió en otro curso
            de natación para logral aquél sueño.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="{% static '../img/CristobalSancho.png' %}" alt="Cristobal">
        <h3>[Cristobal Sancho]</h3>
    </section>

    <!-- Volver -->
    <nav>
        <a href="natacion.html">← Volver a lista de fichas</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="Contacto.html" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>