{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de fichas de dibujo</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <nav class="menu">
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'arte' %}">Arte</a></li>
            <li><a href="{% url 'deporte' %}">Deporte</a></li>
        </ul>
    </nav>

    <!-- Título -->
    <header>
        <h1>Lista de Fichas de "Dibujo"</h1>
    </header>

    <!-- Lista de fichas -->
    <section>
        <h2>Infórmate de los participantes</h2>

        <ul>
            <li><a href="{% url 'JuanPerez' %}">Juan Pérez</a></li>
            <li><a href="{% url 'MariaLopez' %}">María López</a></li>
            <li><a href="{% url 'CarlosSoto' %}">Carlos Soto</a></li>
            <li><a href="{% url 'AnaTorres' %}">Ana Torres</a></li>
        </ul>
    </section>

    <!-- Volver -->
    <nav>
        <a href="{% url 'arte' %}">← Volver a arte</a>
    </nav>

    <footer class="footer">
        <p>¿Tienes alguna pregunta o sugerencia?</p>
        <a href="{% url 'Contacto' %}" class="btn-footer">Contáctanos</a>
    </footer>

</body>
</html>