{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>lista de fichas de fútbol</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="arte.html">Arte</a></li>
        <li><a href="deporte.html">Deporte</a></li>
    </ul>
</nav>

    <!-- Título -->
    <header>
        <h1>Lista de Fichas de "Fútbol"</h1>
    </header>

    <!-- Lista de fichas -->
    <section>
        <h2>Infórmate de los participantes</h2>

        <ul>
            <li><a href="EnzoSanchez.html">Enzo Sánchez</a></li>
            <li><a href="MatildaAlejandra.html">Matilda Alejandra</a></li>
        </ul>
    </section>

    <!-- Volver -->
    <nav>
        <a href="deporte.html">← Volver a deporte</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="Contacto.html" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>