{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'arte' %}">Arte</a></li>
            <li><a href="{% url 'deporte' %}">Deporte</a></li>
    </ul>
</nav>

    <!-- Nombre -->
    <header>
        <h1>Guillermo Gómez</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 40 años</p>
        <p><strong>Talento:</strong> Escultura</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            Guillermo tiene una impresora 3D con la que usa para hacer figuritas de acción, además de 
            maquetas de estructuras.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="{% static 'img/GuillermoGomez.png' %}" alt="Guillermo">
        <h3>[Guillermo Gómez]</h3>
    </section>

    <!-- Volver -->
    <nav>
         <a href="{% url 'escultura' %}">Volver a escultura</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="{% url 'Contacto' %}" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>