{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="arte.html">Arte</a></li>
        <li><a href="deporte.html">Deporte</a></li>
    </ul>
</nav>

    <!-- Nombre -->
    <header>
        <h1>María López</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 20 años</p>
        <p><strong>Talento:</strong> Dibujo</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            A María le encanta dibujar animales. Tiene una grán abilidad de dibujarlos de memoria, y
            además, tiende a hacer pequeñas comisiones a gente para dibujar a sus mascotas.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="{% static 'img/MariaLopez' %}" alt="Maria">
        <h3>[María]</h3>
    </section>

    <!-- Volver -->
    <nav>
        <a href="dibujo.html">← Volver a lista de fichas</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="Contacto.html" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>