{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="arte.html">Arte</a></li>
        <li><a href="deporte.html">Deporte</a></li>
    </ul>
</nav>

    <!-- Nombre -->
    <header>
        <h1>Matilda Alejandra</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 24 años</p>
        <p><strong>Talento:</strong> Fútbol</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            Matilda es la hermana menor de un jugador profesional de fútbol, por lo que quiere seguir
            los pásos de su hermano.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="{% static '../img/MatildaAlejandra.png' %}" alt="Matilda">
        <h3>[Matilda Alejandra]</h3>
    </section>

    <!-- Volver -->
    <nav>
        <a href="futbol.html">← Volver a lista de fichas</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="Contacto.html" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>