{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Talento</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>

    <nav class="menu">
    <ul>
         <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'arte' %}">Arte</a></li>
            <li><a href="{% url 'deporte' %}">Deporte</a></li>
    </ul>
</nav>

    <!-- Nombre -->
    <header>
        <h1>Selena Michell</h1>
    </header>

    <!-- Información -->
    <section>
        <p><strong>Edad:</strong> 27 años</p>
        <p><strong>Talento:</strong> Pintura</p>
    </section>

    <!-- Descripción -->
    <section>
        <h2>Descripción</h2>
        <p>
            A Selena le gusta pintar digitalmente, específicamente hacer fanart de media que le gusta
            como juegos y películas.
        </p>
    </section>

    <!-- Imagen -->
    <section>
        <img src="{% static 'img/SelenaMichell.png' %}" alt="Selena">
        <h3>[Selena Michell]</h3>
    </section>

    <!-- Volver -->
    <nav>
        <a href="{% url 'pintura' %}">Volver a pintura</a>
    </nav>

    <footer class="footer">
    <p>¿Tienes alguna pregunta o sugerencia?</p>
    <a href="{% url 'Contacto' %}" class="btn-footer">Contáctanos</a>
</footer>

</body>
</html>